body {
    background: #e5e5e5;
    font:14px 
    'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

.reg-box {
    margin: 0px;
    display: flex;
    justify-content: center;   
}

.reg {
    width: 1110px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg>span {
    text-decoration: underline;
}

.reg-button {
    border: none;
    width: 131px;
    height: 44px;
    background: #ffe8bd;
}

.reg-img {
    width: 9px;
    height: 11px;
    margin: 0px 9px 0px 17px;
}

.reg-entrance {
    font-family: 'ProximaNova-Regular';
    width: 39px;
    height: 44px;
    padding:0px;
    margin: 0px 15px 0px 0px;
    border: none;
    background: #e5e5e5;

}

.logo-box {
    height: 89px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;

}

.as {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 89px;
    left: 0;
    top: 44px;
    background: #FFFFFF;
}

.logo {
    width: 60px;
    height: 50px;
    margin-right: 9px;
}
.name {
    display: flex;
    align-items: center;
    width: 136px;
    height: 18px;
    font-weight: 800;
}

.name span {
    color: #ffaf1e;
}

.basket  {
    width: 115px;
    height: 38px;
    border: 1px solid #ffaf1e;
    border-radius: 3px;
    background-image: url(../pictures/Group1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 16px;
    background-color: #FFFFFF;
    padding-left: 36px;
    font-family: 'ProximaNova-Regular';
}

.holder-box {
    height: 50px;
    background: #ffaf1e;
    display: flex;
    justify-content: center;
    
}

.holder {
    width: 1110px;
    height: 50px;
    background: #ffaf1e;
    display: flex;
    justify-content: space-around
}

.holder button {
    height: 50px;
    padding: 0px;
    background: none;
    font-family: 'ProximaNova-Regular';
    border: none;
}

.heder {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.search-box {
    
    width: 1100px;
    height: 110px;

    background: #ffffff;
    border-radius: 3px;
}

.number {
    
    width: 198px;
    height: 18px;

    
}

.vin {
   
    width: 166px;
    height: 18px;

    color: #828282
}

.search {
    display: flex;
    align-items: center;
    width: 964px;
    height: 38px;
    background: #f5f5f5;
    border-radius: 3px;
}

.search-box2 {
    display: flex;
    align-items: center;
    margin-top: 17px;

 }

 .search input {
   
     width:286px;
     height: 18px;
     background-image: url(../pictures/Vector.png);
     background-repeat: no-repeat;
     background-position: left;
     background-position-x: 12px;
     padding-left: 38px;
     background-color: #f5f5f5;
     font-family: 'ProximaNova-Regular'; 
     border: none;   

 }

 .search-box button {
    width: 96px;
    height: 38px;
    margin-left: 14px;
    background: #ffaf1e;
    border-radius: 3px;
    border: none;
    font-family: 'ProximaNova-Regular';

 }

 /* CENTER */

 .moto {
     position: absolute;
     width: 133px;
     height: 110px;
     left: 671px;
     top: 411px;
 }
  
 .moto-name {
     position: absolute;
     width: 286px;
     height: 18px;
     left: 595px;
     top: 529px;

 }